.team-block {
  /* background-color: lightblue; */
  padding: 20px;
  margin: 10px 0;
  /* text-align: center; */
}

.team-block-item {
  padding: 10px;
}

.team-block-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.team-block-reset-all-button {
  font-size: 16px;
  width: 20%;
  align-items: center;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 20px;
}

.team-block-reset-button {
  font-size: 16px;
  align-items: center;
  background-color: #e11843;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 20px;
}

.hero-setup {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 8px 0 8px 0;
  padding: 12px 0 12px 0;
}

.hero-setup-hero_selector {
  margin-top: 10px;
  padding: 5px;
  font-size: 15px;
}

.hero-basic {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 12px;
}

.formation-basic {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: '16px';
}

.note-input-style {
  position: relative; /* Make the input wrapper relative */
  margin: 0 auto; /* Center the input horizontally */
  width: 80%; /* Make the textarea fill the wrapper */
  font-size: 15px;
  padding: 8px;
  box-sizing: border-box; /* Include padding in the width */
  resize: none; /* Disable manual resizing by the user */
}
